.intro-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 90px;
}
.enter{
    color: #42446E;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}
.enter .name{
    background:  linear-gradient(90deg, #13B0F5 2.60%, #E70FAA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1px;
}
.avatar img{
    width: 319px;
    height: 319px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
}   